* {
  box-sizing: border-box;
}
html, body, section, div {
  height: 100%;
  background-color: #e7e7e7;
}

a.fa {
  color: white;
  text-decoration: none;
}

body { 
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  margin: 0px;
}

.lato { 
  font-family: 'Lato', sans-serif;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.text-gray {
  color: #6d6d6d;
}

section {
  width: 100%;
}

article {
  position: relative;
  top: 0%;
  /*position: relative;
  top: 40%;
  left: 50%;
  padding: 1rem;*/
  text-align: center;
  /*transform: translate(-50%, -50%) !important;*/
  padding-right: 40px;
  padding-left: 40px;
}

article.nav {
  top: 0%;
  text-align: center !important;
}

article.left {
  top: 40%;
  text-align: center !important;
  padding-right: 0px;
  padding-left: 0px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.left-half {
  overflow: scroll;
  background-color: #1873f0;
  float: left;
  width: 35%;
  text-align: center;
  line-height: 150%;
}

.right-half p {
  font-size: .9rem;
}

.right-half a {
  margin-top: 10px;
  font-size: .8rem;
}

hr {
  color: #eeeeee;
  margin-bottom: 20px;
}

.large {
  font-size: 2.5rem !important;
  text-decoration: none;
  border-bottom: #666666;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none;
}

a.large:hover{
  color: #aaaaaa;
  font-size: 2.5rem !important;
  text-decoration: none;
  border-bottom: #aaaaaa;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none;
}

.right-half {
  overflow: scroll;
  background-color: #e7e7e7;
  float: left;
  width: 65%;
  text-align: center;
}

/*font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;*/