<section class="container">
  <div class="left-half">
    <article class="oswald left">
      <img class="img-circle" src="../img/cmbh.jpg">
      <h1 class="oswald">Cameron Bergoon</h1>
      <p class="lato">Software Engineer</p>
      <br>
      <a target="_blank"href="https://github.com/cbergoon/" class="fa fa-github"></a>&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="https://jsfiddle.net/user/cbergoon/fiddles/" class="fa fa-jsfiddle"></a>&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="https://plus.google.com/100435688422397709709" class="fa fa-google-plus"></a>&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="https://www.facebook.com/cameron.bergoon" class="fa fa-facebook"></a>&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="https://www.linkedin.com/in/cbergoon" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="" class="fa fa-slack"></a>&nbsp;&nbsp;&nbsp;
    </article>
  </div>
	<div class="right-half">
    <article class="nav">
      <a [routerLink]="['Work']" class="oswald text-gray large slide-center-out">Work</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['Education']" class="oswald text-gray large slide-center-out">Education</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['Projects']" class="oswald text-gray large slide-center-out">Projects</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['Readings']" class="oswald text-gray large slide-center-out">Readings</a>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['Snippets']" class="oswald text-gray large slide-center-out">Snippets</a>&nbsp;&nbsp;&nbsp;
    </article>
    <article>
		  <router-outlet></router-outlet>
    </article>
	</div>
</section>