<h3 style="margin-top: 35px;" class="oswald text-gray">Contact Me</h3>
<p style="margin-bottom: 5px;" class="lato text-gray">Reach out via email at <a class="lato text-gray" target="_blank" href="mailto:cbergoon@gmail.com">cbergoon@gmail.com</a> or contact me on <a class="lato text-gray" target="_blank" href="https://www.linkedin.com/in/cbergoon">LinkedIn</a>.</p>
<h3 style="margin-top: 35px;" class="oswald text-gray">Hire Me</h3>
<p style="margin-bottom: 5px;" class="lato text-gray">Check out my <a href="" class="text-gray">resume</a>!</p>