<!-- <article>
	<a [routerLink]="['Dashboard']" class="oswald large text-gray">Work</a>&nbsp;&nbsp;&nbsp;
	<a [routerLink]="['Dashboard']" class="oswald large text-gray">Education</a>&nbsp;&nbsp;&nbsp;
	<a [routerLink]="['Dashboard']" class="oswald large text-gray">Projects</a>&nbsp;&nbsp;&nbsp;
	<a [routerLink]="['Dashboard']" class="oswald large text-gray">Readings</a>&nbsp;&nbsp;&nbsp;
	<a [routerLink]="['Dashboard']" class="oswald large text-gray">Snippets</a>&nbsp;&nbsp;&nbsp;
</article> -->