<h3 style="margin-bottom: 5px;" class="oswald text-gray">Projects</h3>
<h6 style="margin-top: 0; margin-bottom: 5px;" class="lato text-gray">Distributed Graph DB</h6>
<p style="margin-bottom: 5px;" class="lato text-gray">An implementation of a light weight purpose driven distributed graph database intended for use in applications which require highly reliable graph analysis. (Work in Progress)</p>
<p style="margin-bottom: 5px;" class="lato text-gray">Check out the project on <a href="" class="text-gray">Github</a> or head over to the <a href="" class="text-gray">documentation</a>.</p>
<br>
<h6 style="margin-top: 0; margin-bottom: 5px;" class="lato text-gray">Business Rules Engine</h6>
<p style="margin-bottom: 10px;" class="lato text-gray">Rules engine with a highly flexible data model and an extremely powerful criteria and search mechanism where the rules are Groovy code.</p>
<p style="margin-bottom: 5px;" class="lato text-gray">Check out the project on <a href="" class="text-gray">Github</a> or head over to the <a href="" class="text-gray">documentation</a>.</p>
<br>
<a href="" class="text-gray">More Projects</a>